<p id="notice"><%= notice %></p>

<section class="scoreboard">
	<h2>Scoreboard</h2>
	<table>
	  <tr>
	    <th></th>
	    <th>Played</th>
	    <th>Wins</th>
	    <th>Loses</th>
	    <th>Ratio</th>
	  </tr>
	<% @players.each do |player| %>
	  <tr>
	    <th style="text-align:left"><%= player.name %></th>
	    <td><%= player.played %></td>
	    <td><%= player.wins %></td>
	    <td><%= player.loses %></td>
	    <td><%= player.ratio %></td>
	  </tr>
	<% end %>
	</table>
</section>


<section class="newgame">
	<h2>New game</h2>
	<%= render 'games/form' %>
</section>