<p id="notice"><%= notice %></p>

<section class="scoreboard">
	<h2>Scoreboard</h2>
	<ol>
	<% @players.each do |player| %>
	<li>
		<h3><%= player.name %> (<%= player.ratio %>%)</h3>
		<span>Played:</span> <%= player.played %>
		<span>Wins:</span> <%= player.wins %>
		<span>Loses:</span> <%= player.loses %>
	</li>
	<% end %>
	</ol>
</section>


<section class="newgame">
	<h2>New game</h2>
	<%= render 'games/form' %>
</section>